*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline: 0;
  list-style:none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
.wrapper{
  overflow: hidden;
}
label{
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
section, div{
  position: relative;
}
ins{
  text-decoration: none; 
}
::-webkit-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
:-moz-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::-moz-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
:-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
*:focus::-webkit-input-placeholder{
  color:transparent
}
*:focus:-moz-placeholder{
  color:transparent
}
*:focus::-moz-placeholder{
  color:transparent
}
*:focus:-ms-input-placeholder{
  color:transparent
}
*:focus::-ms-input-placeholder{
  color:transparent
}
*:focus::placeholder{
  color:transparent
}

body{
  background: url("../images/bg.png")no-repeat center top;
  color: #272727;
  font-family: 'Open Sans', sans-serif;;
}
.wrapper{
  overflow: hidden;
}
/* start heder */
.center{
  max-width: 1174px;
  min-width: 320px;
  margin: 0 auto;
}
header{
  background: #141414;
  padding: 15px 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}
header .center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav{
  margin-left: 127px;
  margin-top: 5px;
}
header .nav a{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 56px;
  display: inline-block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
header .nav a:hover{
  color: #e4b806;
}
/* start slider */
.main_slider{
  margin-top: 190px;
  margin-bottom: 67px;
}
.main_slider ul{
  position: relative;
  height: 763px;
}
.main_slider ul li{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.main_slider ul li img{
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.main_slider ul li.active{
  opacity: 1;
  z-index: 1;
}
.main_slider ul li.active .main_slider_title{
  /* the title appears */
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;                    
}
.main_slider ul li.active .main_slider_discription{
  /* the discription appears */
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.main_slider ul li.active .main_slider_price{
  /* the price appears */
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.main_slider ul li.active .main_slider_btn{
  /* the button appears */
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.main_slider ul li.active img{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.main_slider_text{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 55px;;
}

.main_slider_text{
  color: #ffffff;
}
.main_slider_title{
  font-size: 125px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  left: -17px;
  /* the title disappears */
  -webkit-transform: translate(3000px);
      -ms-transform: translate(3000px);
          transform: translate(3000px);
}
.main_slider_discription{
  font-size: 18px;
  /* the discription disappears */
  -webkit-transform: translate(-3000px);
      -ms-transform: translate(-3000px);
          transform: translate(-3000px);
}
.main_slider_price{
  font-size: 18px;
  margin-top: 22px;
  /* the price disappears */
  -webkit-transform: translate(-3000px);
      -ms-transform: translate(-3000px);
          transform: translate(-3000px);
}
.main_slider_btn{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 46px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 14px 30px 14px 15px;
  position: relative;
  left: -9px;
  width: 148px;
  /* the button disappears */
  -webkit-transform: translate(-3000px);
      -ms-transform: translate(-3000px);
          transform: translate(-3000px);
}
.main_slider_btn i{
  width: 51px;
  height: 50px;  
  position: absolute;
  top: 0;
  right: -26px;
  border-radius: 50%;
  background: url(../images/ico_1.png) no-repeat center #f2c91f;
}
.main_slider_btn i::before{
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  border-radius: 50%;
  background: rgba(242, 201, 31, .2);
  -webkit-transform: rotate(2);
  -ms-transform: rotate(2);
  transform: rotate(2);
}
.main_slider_btn:hover{
  color: #f5c618;
  border-color: #f5c618;
}
.main_slider_btn:hover i::before{
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.main_slider_controls{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main_slider_controls_count{
  padding-bottom: 95px;
  width: 103px;
}
.main_slider_controls_count span{
  font-size: 66px;
}
.main_slider_controls_count ins{
  font-size: 16px;
}
.main_slider_controls_pagination{
  padding: 0px 0px 73px 48px;
}
.main_slider_controls_pagination span{
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #1c1c1c;
  margin-bottom: 10px;
}
.main_slider_controls_pagination span.active{
  background:#bfbfbf ;
}
.main_slider_btns{
  height: 84px;
  padding-left: 24px;
}
.main_slider_btns::after{
  content: "";
  position: absolute;
  left: -2px;
  right: 0;
  top: 46%;
  width: 90px;
  height: 1px;
  background:#1c1c1c;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);

}
.main_slider_btns button{
  width: 21px;
  height: 21px;
  background: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: top;
}
.main_slider_btns button.prev{
  border-top: 1px solid #1c1c1c;
  border-left: 1px solid #1c1c1c;
  -webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.main_slider_btns button.next{
  border-top: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 58px;
}
/* FINISH slider */

/* START block sale of the day */
/* left side */
.sale{
  font-weight: 900;
  padding-bottom: 84px;
}
.h2{
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.h2::before{
  content: "";
  width: 56px;
  height: 2px;
  background: #FCC208;
  display: inline-block;
  vertical-align: top;
  margin-top: 29px;
  margin-right: 13px;
}
.h2 span{
  color: #FCC208;
}
.h3{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.h3::before{
  content: "";
  width: 35px;
  height: 2px;
  background: #FCC208;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  margin-right: 8px;
}
.h3 span{
  color: #FCC208;
}
.sale_block{
  margin-top: 50px;
}
.sale_block_left{
  width: 554px;
  float: left;
}
.sale_block_left img{
  position: relative;
  left: -129px;
}
.counter_sale{
  text-align: center;
  margin-top: 111px;
}
.counter_sale_title{
  font-size: 16px;
  text-transform: uppercase;
}
.counter_sale_title > *{
  margin: 0 5px;
}
.counter_sale_title span{
  color: #2f3333;
}
.counter_sale_title p{
  display: inline;
  color: #cfcfcf;
}
.counter_sale_title p ins{
  color: #FCC208;
}
.counter_sale_desc{
  color:#7b7b7b;
  font-size: 14px;
  margin-top: 10px;
}

/* START style Circular-jQuery-Countdown-Timer-Plugin-Final-Countdown */
.countdown-container{
  margin-top: 29px;
  margin-left: 20px;
}
.clock-item{
  width: 86px;
  display: inline-block;
  margin: 0 5px;
  
}
.clock-canvas{
  max-height: 86px;
  border-radius: 50%;
}
.clock-canvas::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 3px solid #ebebeb;
  z-index: -1;
}
.clock-item .text{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 18px;
}
.clock-item .text .val{
  font-size: 16px;
  color: #2b2f2d;
}
.clock-item .text .type-time{
  font-size: 16px;
  color: #767676;
  text-transform: uppercase;
}
/* FINISH style Circular-jQuery-Countdown-Timer-Plugin-Final-Countdown  */
.soc{
  margin-top: 16px;
  /* margin-left: 24px; */
  z-index: 1;
}
.soc a{
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background: #2a4f8e;
  border-radius: 50%;
  position: relative;
  margin: 0 5px;
}
.soc a img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.soc a:hover{
  background:#FCC208;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, .23);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, .23);
}
/* right side */
.sale_block_right ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.sale_block_right ul li{
  width: 50%;
  border: 1px solid #f1f1f1;
  padding: 25px 0px 16px 27px;
  cursor: pointer;
}
.sale_block_right ul li:hover{
  -webkit-box-shadow: 0px 0px 40px rgba(0,0,0, .19);
          box-shadow: 0px 0px 40px rgba(0,0,0, .19);
}
.sle_block_right_category{
  font-size: 14px;
  color: #0069c3;
}
.sle_block_right_title{
  font-size: 16px;
  margin-top: 7px;
}
.sle_block_right_price{
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 13px;
}
.sle_block_right_price span{
  color: #FCC208;
  margin-left: 5px;
}
.sle_block_right_img{
  margin-top: 18px;
}
.sle_block_right_img img{
  max-width: 100%;
}
.sale_block_right .soc{
  text-align: center;
}
.sale_block_right .soc a{
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.sale_block_right ul li:hover .soc a:nth-child(1){
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s .1s;
  -o-transition: .2s .1s;
  transition: .2s .1s;
}
.sale_block_right ul li:hover .soc a:nth-child(2){
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s .2s;
  -o-transition: .2s .2s;
  transition: .2s .2s;
}
.sale_block_right ul li:hover .soc a:nth-child(3){
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s .3s;
  -o-transition: .3s .3s;
  transition: .3s .3s;
}
/* finish block sale of the day */
/* start POPULAR block */
.popular{
  background: #fafafa;
  padding-top: 95px;
  padding-bottom: 136px;
}
.popular .center .popular_wrapper_flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular_tab_btns{
  padding-top: 9px;
}
.popular_tab_btns a{
  margin-right: 56px;
  position: relative;
  display: inline-block;
}
.popular_tab_btns a:last-child{
  margin-right: 0px;
}
.popular_tab_btns a.active::before{
  content: "";
  width: 60px;
  height: 5px;
  background: #FCC208;
  position: absolute;
  bottom: -4px;
  right: -19px;
}
/* popolar product block */
.popular_all_tabs_blocks{
  padding-top: 48px;
}
.popular_all_tabs_blocks ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  position: absolute;
  left: -10000px;
}
.popular_all_tabs_blocks ul.active{
  position: relative;
  left: 0;
}
.popular_all_tabs_blocks ul.active li:nth-child(1){
  opacity: 1;
  -webkit-transition: .2s .1s opacity, .4s box-shadow;
  -o-transition: .2s .1s opacity, .4s box-shadow;
  transition: .2s .1s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(2){
  opacity: 1;
  -webkit-transition: .2s .2s opacity, .4s box-shadow;
  -o-transition: .2s .2s opacity, .4s box-shadow;
  transition: .2s .2s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(3){
  opacity: 1;
  -webkit-transition: .2s .3s opacity, .4s box-shadow;
  -o-transition: .2s .3s opacity, .4s box-shadow;
  transition: .2s .3s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(4){
  opacity: 1;
  -webkit-transition: .2s .4s opacity, .4s box-shadow;
  -o-transition: .2s .4s opacity, .4s box-shadow;
  transition: .2s .4s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(5){
  opacity: 1;
  -webkit-transition: .2s .5s opacity, .4s box-shadow;
  -o-transition: .2s .5s opacity, .4s box-shadow;
  transition: .2s .5s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(6){
  opacity: 1;
  -webkit-transition: .2s .6s opacity, .4s box-shadow;
  -o-transition: .2s .6s opacity, .4s box-shadow;
  transition: .2s .6s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul.active li:nth-child(7){
  opacity: 1;
  -webkit-transition: .2s .7s opacity, .4s box-shadow;
  -o-transition: .2s .7s opacity, .4s box-shadow;
  transition: .2s .7s opacity, .4s box-shadow;
}
.popular_all_tabs_blocks ul li{
  width: 25%;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  padding: 25px 26px 33px 26px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  position: relative;
  opacity: 0;
}
.popular_all_tabs_blocks ul li:first-child{
  width: 50%;
}
.wrapper_popular_main_goods_left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular_main_goods_left{
  width: 270px;
}
.popular_gallery_main{
  height: 270px;
}
.popular_gallery_main img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  max-width: 100%;
}
.popular_gallery_main img.active{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.popular_gallery_prev{
  margin-top: 18px;
}
.popular_gallery_prev span{
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 22px;
}
.popular_gallery_prev span::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .2);
}
.popular_gallery_prev img{
  width: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.popular_gallery_prev span.active::after{
  background: transparent;
  border: 2px solid #FCC208;
}
.popular_main_goods_right{
  /* width: 50%; */
  /* margin-left: 5px; */
  padding: 59px 55px 0px 0px;
}
.popular_main_goods_right_title{
  font-size: 16px;
  /* margin-top: 59px; */
}
.popular_main_goods_right_price{
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 14px;
}
.popular_main_goods_right_price span{
  color: #FCC208;
  margin-left: 5px;
}
.popular_main_goods_right_advantages{
  margin-top: 13px; 
  padding-left: 14px; 
}
.popular_main_goods_right_advantages span{
  font-size: 14px;
  color: #7b7b7b;
  font-weight: 700;
  position: relative;
  display: block;
  margin-bottom: 6px;
}
.popular_main_goods_right_advantages span::after{
  content: "";  
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #5d605f;
  top: 8px;
  left: -13px;  
}
.popular_main_goods_right .soc{
  margin-left: -4px;
  padding-top: 65px;
}
.popular_goods_disc{
  font-size: 14px;
  color: #7b7b7b;
}
.popular_goods_img{
  height: 268px;
}
.popular_goods_img img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin:auto;
  max-width: 100%;
}
.popular_all_tabs_blocks ul li:hover{
  -webkit-box-shadow: 0px 0px 40px rgba(0,0,0, .19);
          box-shadow: 0px 0px 40px rgba(0,0,0, .19);
  z-index: 1;
  cursor: pointer;
}
/* finish POPULAR block */

/* start BLACK SECTION */
.black_section{
  background:#1b1b1b;
}
.black_section .center{
  height: 593px;
}
.black_section_radial{
  width: 894px;
  height: 593px;
  position: absolute;
  left: -256px;
  top: 0px;
  overflow: hidden;
}
.black_section_radial::before{
  content: "";
  width: 894px;
  height: 894px;
  position: absolute;
  top: -164px;
  left: 0;
  bottom: 0;
  right: 0;
  background: -o-repeating-radial-gradient(#282828,#282828 200px,#1b1b1b 200px,#1b1b1b 319px);
  background: repeating-radial-gradient(#282828,#282828 200px,#1b1b1b 200px,#1b1b1b 319px);
  border-radius: 50%;
}
/***********
slider on slider
***********/
.black_section_carousel{
  width: 474px;
  height: 593px;
  float: left;
}
.black_section_carousel ul li.active .black_section_carousel_mining{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.black_section_carousel ul li.active .black_section_carousel_preving span:nth-child(1){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.black_section_carousel ul li.active .black_section_carousel_preving span:nth-child(2){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s .2s;
  -o-transition: .4s .2s;
  transition: .4s .2s;
}
.black_section_carousel ul li.active .black_section_carousel_preving span:nth-child(3){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s .4s;
  -o-transition: .4s .4s;
  transition: .4s .4s;
}
.black_section_carousel ul li.active{
  z-index:1;
}
.black_section_carousel_mining{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 90px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.black_section_carousel_mining img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.black_section_carousel_mining img.active{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.black_section_carousel_preving{
  width: 75px;
  height: 305px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.black_section_carousel_preving span{
  display: block;
  width: 70px;
  height: 70px;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: 1;
}
.black_section_carousel_preving span.active{
  border: 3px solid #FCC208;
}
.black_section_carousel_preving span img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
}
/* ********
slider button
******** */
.black_section_carousel button{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 100px;
  border: 0;
  -webkit-box-shadow: 0px 0px 13px rgba(2, 2, 2, .2);
          box-shadow: 0px 0px 13px rgba(2, 2, 2, .2);
  z-index: 3;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;

}
.black_section_carousel button:hover{
  border-color: #f5c618;
  background: rgb(242, 201, 31)
}
.black_section_carousel button.prev{
  top: -36px;
  left: 148px;
}
.black_section_carousel button.prev::after{
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #1c1c1c;
  border-left: 1px solid #1c1c1c;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.black_section_carousel button.next{
  bottom: -36px;
  left: 148px;
}
.black_section_carousel button.next::after{
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.black_section_carousel button:hover::after{
  border-color:#fff;
}
.black_section_carousel button::before{
  content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;
    border-radius: 50%;
    background: transparent;
}
.black_section_carousel button:hover::before{
  -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
    background: rgba(242, 201, 31, .85);
}
.black_section_right{
  overflow: hidden;
  padding: 85px 0px 0px 125px;
}
.black_section_right h2{
  color: #fff;
  margin-bottom: 25px;
}
.black_section_right p{
  font-size: 20px;
  color:#939393;
  margin-bottom: 15px;
}
.black_section_right ul{
  margin-top: 20px;
  line-height: 38px;
  padding-left: 16px;
}
.black_section_right ul li{
  font-size: 16px;
  color:#939393;
  position: relative;
}
.black_section_right ul li::before{
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 17px;
}
.black_section_right .price{
  font-size: 20px;
  color: #939393;
  text-transform: uppercase;
  margin-top: 28px;
}
.black_section_right .price span{
  color:#fff;
}
.black_section_right .price ins{
  color: #FCC208;
}
.black_section_right .soc{
  margin-top: 35px;
  margin-left: 0px;
}
/****************
start multi section
****************/
.multi{
  padding-top: 128px;
}
.multi_block{
  width: 370px;
}
.multi .center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.multi ul{
  margin-top: 33px;
}
.multi ul li{
  overflow: hidden;
  position: relative;
  padding-left: 150px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.multi ul li:hover{
  -webkit-box-shadow: 0px 0px 40px rgba(2, 2, 2, .19);
          box-shadow: 0px 0px 40px rgba(2, 2, 2, .19);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.multi ul li:hover .multi_text .multy_category{
  -webkit-transform:translateY(-20px);
      -ms-transform:translateY(-20px);
          transform:translateY(-20px);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.multi ul li:hover .multi_text .multi_title{
  -webkit-transform:translateY(-20px);
      -ms-transform:translateY(-20px);
          transform:translateY(-20px);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.multi ul li:hover .multi_text .price{
  -webkit-transform:translateY(-20px);
      -ms-transform:translateY(-20px);
          transform:translateY(-20px);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.multi ul li:hover .multi_text .soc a:nth-child(1){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s .1s;
  -o-transition: .4s .1s;
  transition: .4s .1s;
}
.multi ul li:hover .multi_text .soc a:nth-child(2){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s .2s;
  -o-transition: .4s .2s;
  transition: .4s .2s;
}
.multi ul li:hover .multi_text .soc a:nth-child(3){
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s .3s;
  -o-transition: .4s .3s;
  transition: .4s .3s;
}
.multi_img{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.multi_img img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.multi_text{
  padding-top: 34px;
  padding-bottom: 24px;
  overflow: hidden;
}
.multy_category{
  font-size: 14px;
  color: #3d65b1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.multi_title{
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
}
.multi .price{
  font-size: 16px;
  color: #6f6f6f;
  text-transform: uppercase;
  margin-top: 24px;
}
.multi .price span{
  color:#FCC208;
}
.multi_text .soc{
  margin-left: 0px;
  margin-top: 10px;
}
.multi_text .soc a{
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
/**************
start footer section
***************/
.brand{
  padding-top: 65px;
}
.brand_line{
  border: 2px solid #dddddd;
}
.brand_img{
  padding-top: 35px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer{
  background: #1f1f1f;
  padding-top: 27px;
  padding-bottom: 27px;
}
.footer .center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_text{
  color:#fff;
  font-weight: 600;
}
.footer .soc{
  margin-top: 0;
  margin-left: 0;
}
.soc_footer a{
  background: #fff;
  border: 1px solid #000;
  font-size: 14px;
}
.pay_footer a{
  background: transparent;
  border-radius: 0;
  width: 32px;
  height: 20px;
}
.pay_footer a:nth-child(1):hover{
  background: url("../images/pay_h_1.png");
}
.pay_footer a:nth-child(2):hover{
  background: url("../images/pay_h_2.png");
}
.pay_footer a:nth-child(3):hover{
  background: url("../images/pay_h_3.png");
}
.pay_footer a:nth-child(4):hover{
  background: url("../images/pay_h_4.png");
}
.pay_footer a:hover img{
  display: none;
}
/***************
create POPUP 
****************/
.close{
  width: 22px;
  height: 22px;
  background: url("../images/popup_close.png");
  position: absolute;
  top: 16px;
  right: 22px;
  z-index: 1;
  cursor: pointer;
  border: 1px solid transparent;
}
.close:hover{
  border: 1px solid rgba(104, 102, 102, .45);
}
.popup{
  width: 560px;
  height: 300px;
  background: #fff;
  position: fixed;
  top: 0;bottom: 0;
  left: 0;right: 0;
  margin: auto;
  z-index: 100;
  display: none;
}
.bg_popup{
  background:rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;bottom: 0;
  left: 0; right: 0;
  z-index: 99;
  display: none;
}
.popup_img{
  width: 200px;
  position: absolute;
  top: 0;  bottom: 0;  left: 0;
}
.popup_img img{
  position: absolute;
  left: 0;  right: 0;
  top: 0;  bottom: 0;
  margin: auto;
  width: 130px;
}
.popup_title{
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #252525;
  padding: 13px 53px 13px 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.popup_text{
  padding-top: 34px;
  padding-bottom: 24px;
  padding-top: 36px;
  padding-left: 200px;
  overflow: hidden;
}
.popup_category{
  font-size: 14px;
  color: #3d65b1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.popup_goods_title{
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.popup .price{
  font-size: 16px;
  color: #6f6f6f;
  text-transform: uppercase;
  margin-top: 24px;
}
.popup .price span{
  color:#FCC208;
}
.popup_content{
  height: 244px;
}
.popup form{
  margin-top: 24px;
}
.popup form input[type="text"]{
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  text-align: center;
  border-radius: 50px;
  color: #828282;
  font-size: 14px;
  vertical-align: top;
}
.popup form button[type="submit"]{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 30px;
  background: #252525;
  padding: 14px 30px 14px 15px;
  width: 148px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
/* button <i> */
.popup form button[type="submit"] i{
  width: 51px;
  height: 50px;  
  position: absolute;
  top: -2px;
  right: -26px;
  border-radius: 50%;
  background: url(../images/ico_1.png) no-repeat center #f2c91f;
}
.popup form button[type="submit"] i::before{
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  border-radius: 50%;
  background: rgba(242, 201, 31, .2);
  -webkit-transform: rotate(2);
  -ms-transform: rotate(2);
  transform: rotate(2);
}
.popup form button[type="submit"]:hover{
  color: #f5c618;
  border-color: #f5c618;
  background: transparent;
}
.popup form button[type="submit"]:hover i::before{
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}


/**********
menu TOGGLE
***********/

.menu_toggle{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  bottom: 0px;
  right: 25px;
  margin: auto;
  height: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}
.menu_toggle span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  margin: auto;
  background:#fff;
}
.menu_toggle::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.menu_toggle::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  background: #fff;
}
.menu_toggle.active span{
  opacity: 0;
}
.menu_toggle.active{
  -webkit-transform: rotate(630deg);
      -ms-transform: rotate(630deg);
          transform: rotate(630deg);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.menu_toggle.active::before{
  -webkit-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
          transform: rotate(405deg);
  -webkit-transition: .1s .3s;
  -o-transition: .1s .3s;
  transition: .1s .3s;
  -webkit-transform-origin: 4px 8px;
      -ms-transform-origin: 4px 8px;
          transform-origin: 4px 8px;
}
.menu_toggle.active::after{
  -webkit-transform: rotate(-405deg);
      -ms-transform: rotate(-405deg);
          transform: rotate(-405deg);
  -webkit-transition: .1s .3s;
  -o-transition: .1s .3s;
  transition: .1s .3s;
  -webkit-transform-origin: 4px -3px;
      -ms-transform-origin: 4px -3px;
          transform-origin: 4px -3px;
}

/***********
@media Screen
***********/

@media screen and (max-width:1200px){
  header .center{
    padding-left: 15px;
  }
  header .nav{
    margin-left: 75px;
  }
}
@media screen and (max-width:1180px){
  .sale_block_right{
    padding-right: 20px;
  }
  .popular{
    padding-top: 60px;
  }
  .popular .h2{
    padding-left: 20px;
  }
  .popular_tab_btns{
    right: 25px;
  }
  .popular_tab_btns a{
    margin-right: 25px;
  }
  .popular_gallery_prev span{
    margin-right: 6px;
  }
  .black_section_right{
    padding-left: 20px;
  }
  .black_section_right h2{
    font-size: 32px;
  }
  .black_section_right ul li{
    font-size: 16px;
  }
  .sale .h2{
    text-align: center;
  }
  .h2::before{
    display: none;
  }
}
@media screen and (max-width:1024px){
  .sale_block_right{
    padding-right: 0;
  }
  .sale_block_right .soc a{
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  }
  .sale_block_left{
    float: none;
    width: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .sale_block_left img{
    left: 0;
    max-width: 100%;
  }
  .counter_sale{
    margin-top: 50px;
  }
  .countdown-container{
    margin-left: 0;
  }
  .multi_text .soc a{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .multi .center{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .multi_block{
    width: auto;
  }
  .multi_block .h3{
    text-align: center;
  }
  .multi_block .h3::before{
    display: none;
  }
  .multi ul{
    text-align: center;
    margin-bottom: 20px;
  }
  .multi ul li{
    display: inline-block;
    padding: 20px 15px 10px 15px;
  }
  .multi_img{
    position: relative;
  }
} 
@media screen and (max-width:970px){
  header .nav{
    margin-left: 40px;
  }
  header .nav a{
    margin-right: 20px;
  }
  .popular_all_tabs_blocks ul li:first-child{
    width: 100%;
  }
  .popular_all_tabs_blocks ul li{
    width: 33.33333%;
  }
  .wrapper_popular_main_goods_left{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular_gallery_prev{
    text-align: center;
  }
  .popular_main_goods_right{
    padding-right: 0;
  }
}
@media screen and (max-width:875px){
  .popular .center .popular_wrapper_flex{
    display: block;
  }
  .h2::before{
    display: none;
  }
  .h2{
    text-align: center;
  }
  .popular .h2{
    padding-left: 0;
  }
  .popular_tab_btns{
    text-align: center;
    right: 0;
    margin-top: 10px;
  }
  .popular_all_tabs_blocks ul.active li:nth-child(1){
    width: 100%;
  }
  .popular_all_tabs_blocks ul li{
    width: 33.3333%;
  }
}
@media screen and (max-width:900px){
  .main_slider_controls_pagination{
    display: none;
  }
  .main_slider_controls_count{
    padding-bottom: 45px;
  }
  .black_section{
    padding-bottom: 50px;
  }
  .black_section .center{
    height: auto;
  }
  .black_section_radial{
    overflow: visible;
  }  
  .black_section_radial::before{
    display: none;
  }
  .black_section_carousel{
    float: none;
    margin: 0 auto;
  }
  .black_section_carousel button{
    left: 0;
    right: 0;
    margin: auto;
  }
  .black_section_carousel button.prev, .black_section_carousel button.next{
    left: 0;
  }
}
@media screen and (max-width:800px){
  .main_slider ul li img{
    max-width: 100%;
  }
  .main_slider ul li{
    padding: 0 20px;
  }
  .main_slider_title{
    font-size: 70px;
    left: 0px;
  }
}
@media screen and (max-width:790px){
  header .center{
    display: block;
    text-align: center;
    padding-left: 0;
  }
  header .nav{
    margin-left: 0;
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    text-align: left;
    padding: 20px 20px 0 20px;
    background: rgba(0, 0, 0, .8);
    -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
            transform: translateX(-2000px);
    /* transition: .4s; */
  }
  header .nav.active{
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  header .nav a{
    display: block;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .menu_toggle{
    display: block;
  }
}
@media screen and (max-width:740px){
  .brand .center{
    width: 65%;
  }
  .brand_img{
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width:640px){
  body{
    background: none;
  }
  .main_slider ul li.active{
    z-index: 3;
  }
  .main_slider ul li img{
    max-width: 50%;
  }
  .main_slider_text{
    position: relative;
    padding-top: 0;
  }
  .main_slider_title{
    color: #272727;
  }
  .main_slider_discription{
    color:  #272727;
  }
  .main_slider_price{
    color: #272727;
  }
  .main_slider_btn{
    color:  #272727;
    border: 2px solid #272727;
  }
  .main_slider_controls{
    top: -102px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_slider ul{
    height: 640px;
  }
  .main_slider ul li.active img{
    opacity: .5;
  }
  .popular_all_tabs_blocks ul li{
    width: 50%;
  }
}
@media screen and (max-width:600px){
    .footer .center{
      flex-flow: column;
      align-items: center;
    }
    .footer .soc:nth-child(2){
        order: 2;
    }
    .footer .center div{
      margin-top: 10px;
    }
}
@media screen and (max-width:532px){
  .wrapper_popular_main_goods_left{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popular_main_goods_right{
    padding-top: 20px;
  }
  .popular_main_goods_right .soc{
    padding-top: 10px;
  }
  .popular_all_tabs_blocks ul li {
    width: 100%;
    text-align: center;
  }
  .popup_img{
    width: 130px;
  }
  .popup_text{
    padding-left: 140px;
  }
}
@media screen and (max-width:570px){
  /* .popup{
    width: auto;
    height: 340px;
  }
  .popup_content{
    height: auto;
  }
  .popup form button[type="submit"]{
    display: block;
    margin-top: 10px;
    margin-left: 0;
  } */
  .popup{
    width: auto;
    height: 470px;
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .popup_content{
    height: auto;
    padding-top: 20px;
  }
  .popup_img{
    width: auto;
    right: 0;
    position: relative;
    text-align: center;
  }
  .popup_img img{
    position: relative;
  }
  .popup_text{
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width:500px){
  .main_slider ul{
    height: 500px;
  }
  .sale {
    padding-bottom: 40px;
}
  .sale_block_right ul li{
    width: 100%;
    text-align: center;
  }
  .black_section_right{
    padding-left: 10px;
    padding-right: 5px;
  }
  .black_section_carousel{
    width: auto;
  }
  .black_section_carousel button.prev{
    top: 25px;
    left: 20px;
    right: auto;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .black_section_carousel button.next{
    top: 25px;
    right: 20px;
    left: auto;
    bottom: auto;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .black_section_carousel_preving{
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    display: block;
    text-align: center;
  }
  .black_section_carousel_preving span{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
  .black_section_carousel_mining{
    right: 0;
  }
  .black_section_right .soc{
    text-align: center;
  }
  .black_section_right .price{
    text-align: center;
  }
}
@media screen and (max-width:440px){
  .main_slider_title{
    font-size: 40px;
  }
  .main_slider ul{
    height: 400px;
  }
  .h2{
    font-size: 32px;
  }
  .h2::before{
    display: none;
  }
  .sale .h2{
    text-align: center;
  }
}
@media screen and (max-width:440px){
  .main_slider ul{
    height: 440px;
  }
  .popup form button[type="submit"]{
    display: block;
    text-align: center;
    margin: auto;
  }
  .popup form input{
    margin-bottom: 6px;
  }
}








